attrs==22.1.0
autobahn==22.7.1
Automat==22.10.0
binance-connector-python==0.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
constantly==15.1.0
cryptography==38.0.4
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
numpy==1.23.5
pandas==1.5.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybit==2.4.1
pycparser==2.21
pyOpenSSL==22.1.0
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.6
requests==2.28.1
requests3==0.0.0
service-identity==21.1.0
six==1.16.0
ta==0.10.2
Twisted==22.10.0
txaio==22.2.1
typing_extensions==4.4.0
urllib3==1.26.13
websocket-client==1.4.2
websockets==10.4
zope.interface==5.5.2